{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nome) }}
        {{ form_errors(form.nome) }}
        {{ form_widget(form.nome) }}
    </div>

    <div class="form-group">
            {{ form_label(form.cliente) }}
            {{ form_errors(form.cliente) }}
            {{ form_widget(form.cliente) }}
        </div>
    <button class="btn">{{ button_label|default('botao.adicionar'|trans) }}</button>
{{ form_end(form) }}