{% extends 'base.html.twig' %} 

{% block title %}{{ 'titulo.cliente.index'|trans }}{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">{{ 'titulo.cliente.index'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('clinica_new') }}" class="btn btn-primary">{{ 'botao.novo'|trans }}</a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Cliente</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for clinica in clinicas %}
                                    <tr>
                                        <td>{{ clinica.id }}</td>
                                        <td>{{ clinica.nome }}</td>
                                        <td>{{ clinica.cliente.nome }}</td>
                                        <td>
                                            <a class="btn btn-default" href="{{ path('clinica_show', {'id': clinica.id}) }}">
                                                {{'botao.exibir'|trans}}
                                            </a>
                                            <a class="btn btn-default" href="{{ path('clinica_edit', {'id': clinica.id}) }}">
                                                {{'botao.editar'|trans}}
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">{{ 'info.sem-informacao'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}