{% extends 'base.html.twig' %} 

{% block title %}{{ 'titulo.clinica.show'|trans }}{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">{{ 'titulo.clinica.show'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ clinica.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nome</th>
                                    <td>{{ clinica.nome }}</td>
                                </tr>
                                <tr>
                                    <th>Cliente</th>
                                    <td>{{ clinica.cliente.nome }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 btn-float-left">
            <a class="btn btn-default btn-float-left" href="{{ path('clinica_index') }}">
                {{'botao.voltar'|trans}}
            </a>

            <a class="btn btn-default btn-float-left" href="{{ path('clinica_edit', {'id': clinica.id}) }}">
                {{'botao.editar'|trans}}
            </a>

            {{ include('clinica/_delete_form.html.twig') }}

        </div>
    </div>
</div>
{% endblock %}