{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nome) }}
        {{ form_errors(form.nome) }}
        {{ form_widget(form.nome) }}
    </div>
    <a class="btn btn-default btn-float-left" href="{{ path(path|default('cliente_index')) }}">
                {{'botao.voltar'|trans}}
            </a>
    <button class="btn btn-success btn-float-left">{{ button_label|default('botao.adicionar'|trans) }}</button>
{{ form_end(form) }}