{% extends 'base.html.twig' %}

{% block title %}{{ 'titulo.agenda.index'|trans }}
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/page/agendamento.css' )}}" rel="stylesheet"/>
    <link href="{{ asset('js/fullcalendar-3.9.0/fullcalendar.min.css' )}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">{{ 'titulo.agendamento.index.titulo'|trans }}</h1>
            </div>
        </div>
        
        <div class="alert hidden" role="mensagem-pagina"></div>
        
         <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-default" href="{{ path('default') }}">
                            {{'botao.voltar'|trans}}
                        </a>
                    </div>
                    <div class="panel-body agendamento-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div id="legenda">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Legendas
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group legendas">
                                                {% for medico in medicos %}
                                                    <li class="list-group-item">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <input type="checkbox" class="statusMedico" checked="checked" aria-label="{{ medico.id }}">
                                                            </span>
                                                            <span class="form-control statusMedicoInfo" aria-label="{{ medico.id }}" style="background-color: {{medico.corAgenda|default('#5cb85c')}}">
                                                                {{ medico.nome }}
                                                            </span>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div id="paciente">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Paciente
                                        </div>
                                        <div class="panel-body">
                                            <select class="busca buscaPaciente form-control" data-url="{{ url('paciente_busca') }}" name="paciente"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div id="agendamentos-marcados"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modais -->
    <div class="modal fade" id="modalAgendamentoDetalhes" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'titulo.agendamento.index.modal'|trans }}</h5>
                </div>
                <div class="modal-body">
                    <div class="alert hidden" role="mensagem-modal">res.message</div>
                    
                        <div class="form-group paciente">
                            <label for="paciente" class="col-form-label">Paciente:</label>
                            <p id="paciente">nn</p>
                        </div>
                        <div class="form-group">
                            <label for="medico" class="col-form-label">Médico:</label>
                            <p id="medico">nn</p>
                        </div>
                        <div class="form-group">
                            <label for="data" class="col-form-label">Data:</label>
                            <p id="data">nn</p>
                        </div>
                        <div class="form-group">
                            <label for="horario" class="col-form-label">Horario:</label>
                            <p id="horario">nn</p>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-form-label">Status:</label>
                            <p id="status">nn</p>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" action="" no-load="true">{{ 'botao.atendimento.iniciar'|trans }}</button>
                    <button type="button" class="btn btn-success" action="confirmar" no-load="true">{{ 'botao.agendamento.confirmar'|trans }}</button>
                    <button type="button" class="btn btn-danger" action="" no-load="true">{{ 'botao.agendamento.cancelar'|trans }}</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" no-load="true">{{ 'botao.sair'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- end modais -->
{% endblock %}


{% block javascript %}
    <script src="{{ asset('js/moment.min.js') }}"></script>

    <script src="{{ asset('js/fullcalendar-3.9.0/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar-3.9.0/locale/pt-br.js') }}"></script>

    <script src="{{ asset('js/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('js/select2/dist/js/i18n/pt-BR.js') }}"></script>

    <script src="{{ asset('js/custom/agendamentos-marcados.js') }}"></script>
{% endblock %}