{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <h1>Agenda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agenda.id }}</td>
            </tr>
            <tr>
                <th>HorarioInicioAtendimento</th>
                <td>{{ agenda.horarioInicioAtendimento ? agenda.horarioInicioAtendimento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HorarioFimAtendimento</th>
                <td>{{ agenda.horarioFimAtendimento ? agenda.horarioFimAtendimento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FimDeSemana</th>
                <td>{{ agenda.fimDeSemana ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agenda_index') }}">back to list</a>

    <a href="{{ path('agenda_edit', {'id': agenda.id}) }}">edit</a>

    {{ include('agenda/_delete_form.html.twig') }}
{% endblock %}