{{ form_start(form) }}
    {% form_theme form 'form/form_error.html.twig' %}
    <div class="form-group {% if form.username.vars.errors|length  %}has-error{% endif %}">
        {{ form_label(form.username) }}
        {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="form-group {% if form.login.vars.errors|length  %}has-error{% endif %}">
        {{ form_label(form.login) }}
        {{ form_widget(form.login,{'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.login) }}
    </div>

    <div class="form-group {% if form.password.vars.errors|length  %}has-error{% endif %}">
        {{ form_label(form.password) }}
        {{ form_widget(form.password,{'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="form-group {% if form.email.vars.errors|length  %}has-error{% endif %}">
        {{ form_label(form.email) }}
        {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group {% if form.isAdmin.vars.errors|length  %}has-error{% endif %}">
        {{ form_label(form.isAdmin) }}
        {% if adminArea is defined %}
            {{ form_errors(form.isAdmin) }}
        {% else %}
        
        {% endif %}
            {{ form_widget(form.isAdmin) }}
    </div>

    <div class="form-group {% if form.isActive.vars.errors|length  %}has-error{% endif %}">
        {{ form_label(form.isActive) }}
        {{ form_widget(form.isActive) }}
        {{ form_errors(form.isActive) }}
    </div>
    <button class="btn">{{ button_label|default('botao.adicionar'|trans) }}</button>
{{ form_end(form) }}