{% extends 'base.html.twig' %} 

{% block title %}{{ 'titulo.cliente.index'|trans }}{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">{{ 'titulo.clienteUser.index'|trans({'_clienteNome':cliente.nome}) }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('cliente_user_new',{'clienteId':cliente.id}) }}" class="btn btn-primary">{{ 'botao.novo'|trans }}</a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome do usuário</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>
                                        <a class="btn btn-default" href="{{ path('cliente_user_edit', {'clienteId': cliente.id,'id':usuario.id}) }}">
                                            {{'botao.editar'|trans}}
                                        </a>

                                        <a class="btn btn-default" href="{{ path('cliente_user_show', {'clienteId': cliente.id,'id':usuario.id}) }}">
                                            {{'botao.exibir'|trans}}
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('cliente_index') }}">
        {{'botao.voltar'|trans}}
    </a>
</div>
{% endblock %}