<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <![endif]-->
        <title>{{ 'titulo.sistema'|trans }}
            -
            {% block title %}{% endblock %}
        </title>
        <!-- BOOTSTRAP CORE STYLE -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <!-- FONT AWESOME ICONS -->
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet"/>
        <!-- CUSTOM STYLE -->
        <link href="{{ asset('css/style.css' )}}" rel="stylesheet"/>

        {% block stylesheet %}{% endblock %}
        <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
    </head>
    <body>
        {% block headerInfoUser %}
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>{{ 'info.email'|trans }}:
                            </strong>{{ app.user.email }}
                        </div>

                    </div>
                </div>
            </header>
        {% endblock %}
        <!-- HEADER END-->
        <div class="navbar navbar-inverse set-radius-zero">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('default') }}">

                        <img src="{{asset('img/logo.png')}}"/>
                    </a>

                </div>
                {% block headerUserMenu %}
                    <div class="left-div">
                        <div class="user-settings-wrapper">
                            <ul class="nav">

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-settings">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img src="{{asset('img/64-64.jpg')}}" alt="" class="img-rounded"/>
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ app.user.username }}
                                                </h4>

                                            </div>
                                        </div>
                                        <hr/>
                                       
                                        <a href="{{ path('logout') }}" class="btn btn-danger btn-sm">Logout</a>

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        <!-- LOGO HEADER END-->

        {% block menu %}
            <section class="menu-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-collapse collapse ">
                                <ul id="menu-top" class="nav navbar-nav navbar-right">
                                    {% if constant('App\\Security\\Voter\\AdminVoter::CLIENT_USER') in app.user.roles %}
                                    <li>
                                        <a href="{{ path('medico_index') }}">{{ "menu.medicos"|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('paciente_index') }}">{{ "menu.pacientes"|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('agendamento_index') }}">{{ "menu.agendamento"|trans }}</a>
                                    </li>
                                    {% endif %}
                                    <!--
                                    <li>
                                        <a class="menu-top-active" href="blank.html">Blank Page</a>
                                    </li>
                                    -->
                                    {% if constant('App\\Security\\Voter\\AdminVoter::ADMIN') in app.user.roles %}
                                        <li class="dropdown show">
                                            <a href="#" class="dropdown-toggle" id="adm-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{'menu.administracao'|trans}}
                                            </a>
                                            <div class="dropdown-menu dropdown-settings" aria-labelledby="adm-menu">
                                                <ol>
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('cliente_index') }}">{{'menu.clientes'|trans}}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('clinica_index') }}">{{'menu.clinicas'|trans}}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('user_index') }}">{{'menu.usuariosAdmin'|trans}}</a>
                                                    </li>
                                                </ol>
                                            
                                            </div>
                                        </li>   
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% endblock %}
        <!-- MENU SECTION END-->

        {% block messages %}
            {% set indexMessages = 0 %}
            <session class="messages-session">
                <div class="container">
                    {% for message in app.flashes('success') %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    <strong>{{ 'status.sucesso'|trans }}</strong>
                                    {% set _entidade = (app.session.getFlashBag.get('_entidade')[indexMessages])|trans %}
                                    {{ message|trans({'_entidade': _entidade}) }}
                                </div>
                            </div>
                        </div>
                        {% set indexMessages = indexMessages + 1 %}
                    {% endfor %}

                    {% for message in app.flashes('error') %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    <strong>{{ 'status.erro'|trans }}</strong>
                                    {% set _entidade = ("entidade."~app.session.getFlashBag.get('_entidade')[indexMessages])|trans %}
                                    {{ message|trans({'_entidade': _entidade}) }}
                                </div>
                            </div>
                        </div>
                        {% set indexMessages = indexMessages + 1 %}
                    {% endfor %}

                    {% for message in app.flashes('info') %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    <strong>{{ 'status.informacao'|trans }}</strong>
                                    {% set _entidade = ("entidade."~app.session.getFlashBag.get('_entidade')[indexMessages])|trans %}
                                    {{ message|trans({'_entidade': _entidade}) }}
                                </div>
                            </div>
                        </div>
                        {% set indexMessages = indexMessages + 1 %}
                    {% endfor %}
                </div>
            </session>
        {% endblock %}

        {% block body %}
            <div class="content-wrapper"></div>
        {% endblock %}

        <div class="loader hidden" >
            <div class="loader-spiner"></div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        William Caetano Cardenas
                    </div>

                </div>
            </div>
        </footer>
        <!-- FOOTER SECTION END-->
        <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME -->
        <!-- CORE JQUERY SCRIPTS -->
        <script src="{{ asset('js/jquery-1.11.1.js') }}"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>